@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
   appearance: none;
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
}
.flexImage {
  background-image: url("karFanart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 35vw;
  position: absolute;
}
.flexRow {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.form1{
  box-shadow: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 35vw;
  top: 30vh;
  flex-wrap: wrap;
  gap: 15px;
  margin: 25px;
}
.imageHeader {
  margin-top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 13vw;
  height: 200px;
  background: rgba(60, 60, 60, .9);
  color: #e1e1e1;
}
.flexInput {
  display: flex;
  position: relative;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}
label {
  display: inline-block;
  width: 85px;
  text-align: left;
}
.flexInput input {
  border-radius: 5px;
  border: 1px solid grey;
  width: 15vw;
  height: 4vh;
}
.flexInput input::placeholder {
  text-align: left;
}
.placeLabel {
  position: absolute;
  left: 10px;
  top: -10px;
  background-color: white;
  font-size: 15px;
  transition: all 0.5s ease-out;
}
.flexInput input:not(:focus) ~ .placeLabel {
  display: none;
}
.flexInput input:focus::placeholder {
  color: white;
}
input:invalid {
  border: 1px solid red;
}
.form1>button{
  border-radius: 5px;
  border: 1px solid gray;
}
