@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
* {
  margin: 0;
  padding: 0;
  color: #79addc;
  list-style-type: none;
  font-family: 'Barlow', sans-serif;
}
.body {
  background-color: #fff1e6;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar{
  color: blue;
  background-color: #dfe7fd;
  height: 100vh;
  text-align: center;
}

.userActions {
  margin: 25px;
  display: grid;
  gap: 15px;
  font-size: 25px;
}
.miscSupport {
  margin: 25px;
  display: grid;
  gap: 15px;
  font-size: 25px;
}
.content {
  display: grid;
  grid-template-rows: 50px 50px auto;
}
.nav {
  background-color: #bee1e6;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 6fr repeat(2, 1fr) 2fr;
  gap: 15px;
  align-items: center;
  text-align: center;
}
.nav div, .nav p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: #bee1e6;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 6fr 3fr;
  align-items: center;
}
.buttonContainer {
  width: 300px;
}
.buttonContainer button {
  width: 80px;
}
